.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

.productos-container {
  padding: 1rem;
  max-width: 100%;
}

.producto-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 600px; /* Ajusta el ancho máximo del formulario */
  margin: 0 auto;
}

.producto-card {
  display: flex;
  align-items: center;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.productos-grid-table {
  width: 100%; /* Hace que la tabla ocupe todo el ancho del contenedor */
  border-collapse: collapse;
}

.productos-grid-table th,
.productos-grid-table td {
  padding: 0.5rem;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.productos-grid-table tr {
  transition: background-color 0.3s ease;
}

.productos-grid-table tr:hover {
  background-color: #f5f5f5; /* Efecto de resaltado */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra leve en el hover */
}

.botones-superiores{
  display: flex;
  justify-content: center;
  gap: 1rem; 
  margin-bottom: 1rem;
}

.producto-contenido {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.producto-acciones {
  margin-left: auto;
}

.productos-grid-table img {
  width: 100%;
  max-width: 100px;
  height: auto;
  border-radius: 8px;
  border: 1px solid #ddd;
}

td.descripcion {
  max-width: 300px; /* Ajusta según tu preferencia */
  word-wrap: break-word; /* Permite que el texto se ajuste dentro de la celda */
  white-space: normal; /* Permite que las líneas de texto se ajusten automáticamente */
}
/* Detalles del producto */
.producto-detalles {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.producto-detalles h3 {
  margin: 0;
}

.descripcion {
  font-size: 14px;
  margin: 5px 0;
}

/* Precios del producto */
.precios {
  font-weight: bold;
}

.mat-icon-button {
  align-self: flex-start;
}

/* Estilo para Snackbar */
.snackbar-exito {
  background-color: #4caf50;
}

.snackbar-error {
  background-color: #f44336; 
}

/* Opcional: Mejoras visuales */
.producto-item:active {
  transform: scale(0.98);
}

/* Cambios responsivos para móviles */
@media (max-width: 768px) {
  .productos-container {
    max-width: 100%;
  }

  .productos-grid-table {
    width: 100%; /* Asegurar que la tabla ocupa todo el ancho */
  }

  .producto-form {
    max-width: 100%; /* El formulario ocupa todo el ancho disponible */
    padding: 0 10px;
  }

  .producto-form .form-buttons {
    flex-direction: column; /* Los botones estarán uno debajo del otro */
    gap: 10px;
  }

  .productos-grid-table thead {
    display: none; /* Ocultar encabezados de columnas en móvil */
  }

  .productos-grid-table td {
    vertical-align: middle; /* Alinear contenido verticalmente */
    padding: 5px;
  }

  .productos-grid-table td:nth-child(3) {
    display: none; /* Ocultar columna de Categoría */
  }

  .productos-grid-table td:last-child {
    text-align: right; /* Alinear los tres puntos a la derecha */
  }

  .productos-grid-table img {
    display: block;
    width: 170px;
    height: auto;
  }

  .container {
    overflow-x: hidden;
  }

}



