/* Estilo existente */
.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px;
}

.form-container, .productos-container {
  background: #f5f5f5;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-bottom: 20px;
}

.producto-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.mat-form-field {
  width: 100%;
}

.submit-btn {
  grid-column: span 2;
}

.productos-table {
  width: 100%;
  border-collapse: collapse;
}

.productos-table th, .productos-table td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.productos-table th {
  background-color: #009688;
  color: white;
}

.productos-table tr:hover {
  background-color: #f5f5f5;
}

button {
  margin-right: 8px;
}

.producto-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 4px;
}

/* Estilos para hacerlo responsivo */
@media (max-width: 768px) {

  th[data-label="Acciones"] {
    display: none;
  }
  td[data-label="Acciones"] {
    display: flex;
    flex-direction: column;
  }
  .productos-table td {
    display: block;
    text-align: left;
  }
  .productos-table tr {
    border-bottom: 1px solid #ddd;
  }
  .productos-table td[data-label]::before {
    font-weight: bold;
  }
  
  .productos-table {
    display: block;
    width: 100%;
  }

  .productos-table thead {
    display: none;
  }

  .productos-table tbody tr {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
  }

  .productos-table tbody td {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
  }

  .productos-table tbody td::before {
    content: attr(data-label);
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 10px;
  }

  /* Nueva regla para separar los botones en móvil */
  .left-panel button {
    margin-bottom: 10px; /* Añadir espacio entre los botones */
  }
}
