<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" opened="true" class="sidenav">
      <mat-nav-list>
        <a mat-list-item routerLink="">Login</a>
        <a mat-list-item routerLink="clientes">Clientes</a>
        <a mat-list-item routerLink="productos">Productos</a>
        <a mat-list-item routerLink="proveedor">Proveedores</a>
        <!-- Agrega más enlaces según necesites -->
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Frama Cosmetic</span>
      </mat-toolbar>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>