.sidenav-container {
    height: 100%;
    overflow-x: hidden;
  }
  
  .sidenav {
    width: 200px;
  }
  
  .sidenav .mat-toolbar {
    background: inherit;
  }
  
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  @media (max-width: 768px) {
    .sidenav {
      width: 100%; /* Hacer que el sidenav ocupe todo el ancho en pantallas pequeñas */
      height: 100%; /* Asegura que el sidenav sea de altura completa */
    }
  }