/* Estilo general */
.container {
  display: flex;
  flex-wrap: wrap; /* Permite que los paneles se ajusten en pantallas más pequeñas */
  gap: 20px; /* Espacio entre los paneles */
  margin: 20px; /* Margen alrededor de todo el contenedor para evitar que los elementos toquen los bordes de la pantalla */
}


.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
}

.right-panel {
  flex: 1;
  padding: 20px; /* Padding dentro de cada panel para no tener los elementos pegados a los bordes */
  box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Sombra suave para dar profundidad */
  border-radius: 8px; /* Bordes redondeados para un look más moderno */
  background-color: #fff; /* Fondo blanco para los paneles */
}

/* Formulario de clientes */
.cliente-form {
  width: 100%;
  max-width: 500px;
}

.clientes-lista {
  &.tarjetas {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;

    .cliente-card {
      width: 100%;
      max-width: 400px;
      padding: 1rem;
      border: 1px solid #ccc;
      border-radius: 8px;
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
    }
  }

  &.tabla {
    table {
      width: 100%;
      margin-top: 1rem;

      th, td {
        text-align: left;
        padding: 0.5rem;
      }
    }
  }
}

mat-form-field {
  width: 100%; /* Asegura que los campos del formulario usen todo el ancho disponible */
}

.full-width {
  width: 100%; /* Asegura que la tabla use todo el ancho disponible */
}

table {
  border-collapse: collapse; /* Colapsa los bordes de la tabla para un look más limpio */
  margin-top: 20px; /* Espacio antes de la tabla */
  width: 100%; /* Asegura que la tabla ocupe el 100% del ancho disponible */
}

th, td {
  text-align: left; /* Alinea el texto a la izquierda */
  padding: 8px; /* Padding en las celdas para más espacio alrededor del texto */
  border-bottom: 1px solid #eee; /* Línea sutil entre filas */
}

th {
  color: #666; /* Color más oscuro para los encabezados de la tabla */
  font-weight: bold; /* Hace que los encabezados de la tabla sean más gruesos */
}

td {
  color: #333; /* Color para el texto de las celdas */
}

button {
  margin-right: 8px; /* Espacio a la derecha de cada botón para evitar que se toquen */
  min-width: 120px;
}

/* Estilos para el botón de eliminar para que se destaque como una acción potencialmente destructiva */
button[color="warn"] {
  border-color: #f44336;
  color: #fff;
}

.botones-superiores {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1rem;
}

.botones-superiores button {
  margin-top: 10px; /* Esto agrega un poco de espacio entre el botón y la parte superior */
}

.botones-formulario {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}



