  <div class="botones-superiores" *ngIf="!mostrarFormulario">
    <!-- Botón para mostrar el formulario -->
    <button mat-raised-button color="accent" (click)="toggleFormulario()">
      Nuevo Cliente
    </button>
  </div>

  <div *ngIf="mostrarFormulario" class="form-container">
    <form [formGroup]="clienteForm" (ngSubmit)="onSubmit()" class="cliente-form">
      <mat-form-field appearance="fill">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="nombre" placeholder="Nombre" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" placeholder="Email" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Teléfono</mat-label>
        <input matInput formControlName="telefono" placeholder="Teléfono" />
      </mat-form-field>

      <!-- Botones debajo del formulario -->
      <div class="botones-formulario">
        <button mat-raised-button color="primary" type="submit">Guardar Cliente</button>
        <button mat-raised-button color="warn" type="button" (click)="toggleFormulario()">Cancelar</button>
      </div>
    </form>
  </div>

  <div class="right-panel">
    <h2>Lista de Clientes</h2>

    <!-- Buscador de clientes -->
    <mat-form-field appearance="fill">
      <mat-label>Buscar Cliente</mat-label>
      <input matInput placeholder="Buscar cliente" (input)="actualizarFiltro($event)" />
    </mat-form-field>

    <div *ngIf="cargandoClientes; else contenidoClientes">
      <!-- Indicador de carga para clientes -->
      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>

    <ng-template #contenidoClientes>
      <!-- Vista de la tabla, se adapta a todas las pantallas -->
      <div class="clientes-lista">
        <table mat-table [dataSource]="clientesDataSource" class="mat-elevation-z8">
          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let cliente"> {{ cliente.nombre }} </td>
          </ng-container>
        
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let cliente"> {{ cliente.email }} </td>
          </ng-container>
        
          <ng-container matColumnDef="telefono">
            <th mat-header-cell *matHeaderCellDef> Teléfono </th>
            <td mat-cell *matCellDef="let cliente"> {{ cliente.telefono }} </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="['nombre', 'email', 'telefono']"></tr>
          <tr mat-row *matRowDef="let row; columns: ['nombre', 'email', 'telefono'];"></tr>
        </table>
      </div>
    </ng-template>
  </div>
